In [2]:
%%capture
%pip install pybaseball

In [4]:
from pybaseball import batting_stats

In [11]:
bat_df = batting_stats(2015, 2020)
bat_df.head()

     IDfg  Season          Name Team  Age  ...  CStr%   CSW%  xBA  xSLG  xwOBA
3   13611    2018  Mookie Betts  BOS   25  ...  0.220  0.270  NaN   NaN    NaN
17  10155    2016    Mike Trout  LAA   24  ...  0.188  0.259  NaN   NaN    NaN
4   10155    2018    Mike Trout  LAA   26  ...  0.201  0.261  NaN   NaN    NaN
1   11579    2015  Bryce Harper  WSN   22  ...  0.118  0.226  NaN   NaN    NaN
21  10155    2015    Mike Trout  LAA   23  ...  0.207  0.282  NaN   NaN    NaN

[5 rows x 319 columns]

In [12]:
bat_df = bat_df.loc[:, ['Season', 'Name', 'AB', 'H', 'AVG', 'BABIP', 'LD%', 'wOBA', 'Contact%', 'Swing%', 'Soft%', 'Med%', 'Hard%']]
bat_df.head()

    Season          Name   AB    H  ...  Swing%  Soft%   Med%  Hard%
3     2018  Mookie Betts  520  180  ...   0.356  0.122  0.433  0.445
17    2016    Mike Trout  549  173  ...   0.388  0.120  0.463  0.417
4     2018    Mike Trout  471  147  ...   0.376  0.160  0.396  0.444
1     2015  Bryce Harper  521  172  ...   0.447  0.119  0.472  0.409
21    2015    Mike Trout  575  172  ...   0.381  0.116  0.476  0.408

[5 rows x 13 columns]

In [13]:
bat_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 848 entries, 3 to 847
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    848 non-null    int64
 1   Name      848 non-null    object
 2   AB        848 non-null    int64
 3   H         848 non-null    int64
 4   AVG       848 non-null    float64
 5   BABIP     848 non-null    float64
 6   LD%       848 non-null    float64
 7   wOBA      848 non-null    float64
 8   Contact%  848 non-null    float64
 9   Swing%    848 non-null    float64
 10  Soft%     848 non-null    float64
 11  Med%      848 non-null    float64
 12  Hard%     848 non-null    float64
dtypes: float64(9), int64(3), object(1)
memory usage: 92.8+ KB

In [14]:
bat_df.isnull().sum()

Season      0
Name        0
AB          0
H           0
AVG         0
BABIP       0
LD%         0
wOBA        0
Contact%    0
Swing%      0
Soft%       0
Med%        0
Hard%       0
dtype: int64

In [16]:
bat_df['Name'].value_counts()

Christian Yelich    6
Xander Bogaerts     6
Manny Machado       6
Kevin Pillar        6
Mookie Betts        6
                   ..
Byron Buxton        1
Gary Sanchez        1
Joey Wendle         1
Brandon Lowe        1
Tommy La Stella     1
Name: Name, Length: 336, dtype: int64